@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

body {
	margin: 0;
	padding:0;
}

.logo {
	width: 40%;
	margin-right: 30%;
	margin-left: 6.3rem;
	margin-top: 1rem;
	padding-right: 50%;
	margin-bottom: 2rem;
}

html {
	background-color: #e0c921;
}

.vid {
	width: 100%;
}

p {
	padding-left: 1rem;
	padding-right: 1rem;
	color: #655f52;
}

.buy-btn {
	font-size: 1rem;
	padding: 3%;
	border-radius: 11px;
	border: 3px solid #ffffff;
	background-color: #ffffff;
	color: #e0c921;
	cursor: pointer;
	margin-left: 10rem;
	margin-bottom: 4rem;
	margin-top: 3rem;
	text-decoration: none;
}


.clearfix:after {
	clear: both;
}


.carousel {
	padding-bottom: 110%;  /* Image aspect ratio: height /width * 100 */	
	position: relative;
	background-color: #ffffff;
	margin-top: 2rem;
}

.carousel-items img {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	margin: 0 3em;
	padding-top: .5rem;
	padding: 0 3em ;

}

.carouse-items [data-state="current"] {
	z-index: 100;
}

.carousel-items [data-state="incoming"] {
	z-index: 101;
}

.carousel-buttons {
	position: inherit;
	z-index: 1000;
	width: 100%;
}

.next {
	border-radius: 10px;
	border: 3px solid #ffffff;
	background-color: #e0c921;
	color: #ffffff;
	cursor: pointer;
	position: absolute;
	right: 10px;
	margin-top: 8rem;
}

.previous {
	border-radius: 10px;
	border: 3px solid #ffffff;
	background-color: #e0c921;
	color: #ffffff;
	cursor: pointer;
	position: absolute;
	left: 10px;
	margin-top: 8rem;
}


footer {
	background-color:#ffffff;
	clear: both;
	float: none;
	position:absolute;
	width:100%;
	padding: 10px 0 15px;
	margin-top: 40rem;
}

footer p {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #655f52;
}

@media only screen and (min-width: 37em) {

.logo {
	width: 30%;
	float: left;
	margin-right: 30%;
	margin-left: 13.5rem;
	margin-top: 1rem;
	padding-right: 50%;
	margin-bottom: 2rem;
}


.buy-btn {
	font-size: 1.125rem;
	padding: 1em;
	border-radius: 10px;
	border: 3px solid #ffffff;
	background-color: #ffffff;
	color: #e0c921;
	cursor: pointer;
	margin-left: 23rem;
	margin-bottom: 4rem;
	margin-top: 2rem;
	}
}

.carousel {
	padding-bottom: 80%;  /* Image aspect ratio: height /width * 100 */	
	position: relative;
	background-color: #ffffff;
}

.carousel-items img {
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	padding-top: 1.5rem;
}

.carouse-items [data-state="current"] {
	z-index: 100;
}

.carousel-items [data-state="incoming"] {
	z-index: 101;
}

.carousel-buttons {
	position: inherit;
	z-index: 1000;
}
@media only screen and (min-width: 50em) {

.logo {
	width: 20%;
	float: left;
	margin-right: 30%;
	margin-left: 19.5rem;
	margin-top: 1rem;
	padding-right: 50%;
	margin-bottom: 2rem;
}

.buy-btn {
	font-size: 1.125rem;
	padding: 1em;
	border-radius: 10px;
	border: 3px solid #ffffff;
	background-color: #ffffff;
	color: #e0c921;
	cursor: pointer;
	margin-left: 30rem;
	margin-bottom: 4rem;
	margin-top: 2rem;
	}

.vid {
	width: 50%;
	margin-left: 12rem;

}

p {
	margin-left: 11rem;
	margin-right: 13rem;
}

.carousel {
	padding-bottom: 70%;  /* Image aspect ratio: height /width * 100 */	
	position: relative;
	background-color: #ffffff;
}

.carousel-items img {
	position: absolute;
	top: 0;
	left: 0;
	width: 35%;
	margin-left: 16rem;
	padding-top: 2rem;
}

.carouse-items [data-state="current"] {
	z-index: 100;
}

.carousel-items [data-state="incoming"] {
	z-index: 101;
}

.carousel-buttons {
	position: inherit;
	z-index: 1000;
}
}

@media only screen and (min-width: 90em) {

.logo {
	width: 13%;
	float: left;
	margin-right: 30%;
	margin-left: 37rem;
	margin-top: 1rem;
	padding-right: 50%;
	margin-bottom: 2rem;
}

.buy-btn {
	font-size: 1.125rem;
	padding: 1em;
	border-radius: 10px;
	border: 3px solid #ffffff;
	background-color: #ffffff;
	color: #e0c921;
	cursor: pointer;
	margin-left: 56rem;
	margin-bottom: 4rem;
	margin-top: 2rem;
	}

.vid {
	width: 50%;
	margin-left: 21rem;

}

p {
	margin-left: 19.9rem;
	margin-right: 22rem;
}

.carousel {
	padding-bottom: 40%;  /* Image aspect ratio: height /width * 100 */	
	position: relative;
	background-color: #ffffff;
}

.carousel-items img {
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	margin-left: 34rem;
	padding-top: 2rem;
}

.carouse-items [data-state="current"] {
	z-index: 100;
}

.carousel-items [data-state="incoming"] {
	z-index: 101;
}

.carousel-buttons {
	position: inherit;
	z-index: 1000;
}

}

@media only screen and (min-width: 119em) {

.logo {
	width: 9%;
	float: left;
	margin-right: 30%;
	margin-left: 47rem;
	margin-top: 1rem;
	padding-right: 50%;
	margin-bottom: 2rem;
}

.buy-btn {
	font-size: 1.125rem;
	padding: 1em;
	border-radius: 10px;
	border: 3px solid #ffffff;
	background-color: #ffffff;
	color: #e0c921;
	cursor: pointer;
	margin-left: 67rem;
	margin-bottom: 4rem;
	margin-top: 2rem;
	}

.vid {
	width: 40%;
	margin-left: 28rem;

}

p {
	margin-left: 27rem;
	margin-right: 42rem;
}

.carousel {
	padding-bottom: 20%;  /* Image aspect ratio: height /width * 100 */	
	position: relative;
	background-color: #ffffff;
}

.carousel-items img {
	position: absolute;
	top: 0;
	left: 0;
	width: 10%;
	margin-left: 55rem;
	padding-top: 3rem;
}

.carouse-items [data-state="current"] {
	z-index: 100;
}

.carousel-items [data-state="incoming"] {
	z-index: 101;
}

.carousel-buttons {
	position: inherit;
	z-index: 1000;
}


}
